# esercizio w13 d2¶

* 1

In [17]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

In [20]:
len(studenti)

8

In [23]:
len(corsi)

6

In [26]:
corsi.append("Frontend")

In [30]:
len(corsi)

7

In [33]:
corsi.append("Cybersecurity")

In [36]:
len(corsi)

8

* 2

In [44]:
parola = input("inserisci una parola e premi invio:")
prime_lettere = parola[:3]
ultime_lettere = parola[-3:]
print("le prime tre lettere sono:")
print(prime_lettere)
print("le ultime tre lettere sono:")
print(ultime_lettere)
puntini = "..."
parola_incompleta=prime_lettere+puntini+ultime_lettere
print("la parola incolpleta è:")
print(parola_incompleta)

inserisci una parola e premi invio: francesco

le prime tre lettere sono:
fra
le ultime tre lettere sono:
sco
la parola incolpleta è:
fra...sco

* 3

In [47]:
conducenti = {
    "ada":"punto",
    "ben":"multipla",
    "charlie":"golf",
    "debbie":"107"
}

In [49]:
print(conducenti)

{'ada': 'punto', 'ben': 'multipla', 'charlie': 'golf', 'debbie': '107'}

In [55]:
conducenti["debbie"]

'107'

* 4

In [58]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"} 
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

In [62]:
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1'}

In [64]:
dizionario_auto.update(nuovi_proprietari)

In [66]:
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

* 5

In [69]:
numeri = [3,30,300,3000,30000]

In [71]:
max(numeri)

30000

In [73]:
min(numeri)

3

* 6

In [88]:
numeri = [3,30,300,3000,30000]
massimo = max(numeri)
print("il numero più grande è:",massimo)
numeri.remove (massimo)
massimo = max(numeri)
print("il secondo numero più grande è :",massimo)
numeri.remove(massimo)
massimo = max(numeri)
print("il terzo numero più grande è :",massimo)

il numero più grande è: 30000
il secondo numero più grande è : 3000
il terzo numero più grande è : 300

* 7

In [101]:
prezzo = "100 €"

In [103]:
prezzo.replace ("€","$")

'100 $'

* 8

In [106]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [148]:
squadra1 = studenti[::2]

In [150]:
squadra2 = studenti[1::2]

In [162]:
print("nella squadra 1 ci sono:", squadra1)
print("nella squadra 2 ci sono:",squadra2)

nella squadra 1 ci sono: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
nella squadra 2 ci sono: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

* 9

In [8]:
nome_scuola = "Epicode"
indice = 0
while indice <7:
    print ( nome_scuola [indice] )
    indice += 1
print("FINITO")

E
p
i
c
o
d
e
FINITO

* 10

In [10]:
numeri=0
while numeri<=20:
    print(numeri)
    numeri+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* 11

In [15]:
numero=0
while numero<=10:
    print(2**numero)
    numero+=1
print ("finito")

1
2
4
8
16
32
64
128
256
512
1024
finito

* 12

In [23]:
numero=0
n=input("inserisci un numero da elevare alla potenza:")
n=int(n)
while numero<n:
    pot2=2**numero
    print(pot2)
    numero+=1
print("FINITO")

inserisci un numero da elevare alla potenza: 10

1
2
4
8
16
32
64
128
256
512
FINITO

* 13

In [5]:
base = 2
esponente = 0
risultato = base ** esponente

while risultato < 25000:
    print("ESPONENTE",esponente,"RISULTATO",risultato)
    esponente += 1
    risultato = base ** esponente

print("Finito")

ESPONENTE 0 RISULTATO 1
ESPONENTE 1 RISULTATO 2
ESPONENTE 2 RISULTATO 4
ESPONENTE 3 RISULTATO 8
ESPONENTE 4 RISULTATO 16
ESPONENTE 5 RISULTATO 32
ESPONENTE 6 RISULTATO 64
ESPONENTE 7 RISULTATO 128
ESPONENTE 8 RISULTATO 256
ESPONENTE 9 RISULTATO 512
ESPONENTE 10 RISULTATO 1024
ESPONENTE 11 RISULTATO 2048
ESPONENTE 12 RISULTATO 4096
ESPONENTE 13 RISULTATO 8192
ESPONENTE 14 RISULTATO 16384
Finito

* 14

In [18]:
N = input("Inserisci N:")
N = int(N)
lista_degli_esponenti = list( range(N) )
K = input("Inserisci K:")
K = int(K)
risultati = []

for esponente in lista_degli_esponenti:
    risultato = K ** esponente
    risultati.append( risultato )
    
print("Risultati:", risultati)

Inserisci N: 10
Inserisci K: 10

Risultati: [1, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000, 1000000000]

* 15

In [32]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
mesi = len(guadagni)


somma = 0
contatore = 0

for guadagno in guadagni:
    if guadagno >= 80:
        somma += guadagno
        contatore += 1
    
risultato = somma / contatore

print("Risultato:", risultato)

Risultato: 93.33333333333333

* 16

In [63]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere",
          "Semestre", "Esteta", "Sosta", "Orpello",
          "Abete", "Orologio", "Cesta", "Ermellino"]
for parola in parole:
    
    contatore = 0 
    
    for lettera in parola:
     if lettera == "e" or lettera == "E":
        contatore += 1
         
    print("parola",parola,"numero di Ee:",contatore)

parola Albergo numero di Ee: 1
parola Sedia numero di Ee: 1
parola Borgo numero di Ee: 0
parola Petalo numero di Ee: 1
parola Eremo numero di Ee: 2
parola Belvedere numero di Ee: 4
parola Semestre numero di Ee: 3
parola Esteta numero di Ee: 2
parola Sosta numero di Ee: 0
parola Orpello numero di Ee: 1
parola Abete numero di Ee: 2
parola Orologio numero di Ee: 0
parola Cesta numero di Ee: 1
parola Ermellino numero di Ee: 2

* 17

In [66]:
guadagni

[100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

In [72]:
max(guadagni)

120

* 18

In [79]:
numeri = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

tre_numeri_più_grandi = []

if len(numeri) <= 3:
    print(numeri)
    
else:
    massimo = max(numeri)
    tre_numeri_più_grandi.append(massimo)
    numeri.remove( massimo )

    massimo = max(numeri)
    tre_numeri_più_grandi.append(massimo)
    numeri.remove( massimo )

    massimo = max(numeri)
    tre_numeri_più_grandi.append(massimo)
    numeri.remove( massimo )

    print(tre_numeri_più_grandi)

[120, 100, 90]

* 19

In [91]:
numeri = [5, 2, 3, 4, 6,]

for numero in numeri:
    graph = " * " * numero
    print(graph)

 *  *  *  *  *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *  *

* 20

In [95]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", 
            "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

lista_95 = []

for cf in lista_cf:
    if "95" in cf:
        lista_95.append( cf )
        caratteri_nome = cf[:3]
        caratteri_cognome = cf[3:6]
        print(cf,"-nome:",caratteri_nome,"-cognome:",caratteri_cognome)

print(lista_95)

ABCDEF95G01A123B -nome: ABC -cognome: DEF
STUVWX95Z04A654E -nome: STU -cognome: VWX
DEFGHI95J06A987G -nome: DEF -cognome: GHI
['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

* 21

In [98]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

indici = range( len(studenti) )
indici = list(indici) #casting

for indice in indici:
    studente = studenti[indice]
    edizione = edizioni[indice]
    if edizione == 1:
        print(studente)

Alex
Faith